$main-color: #16A085;
$light-color: #C7AFE9;
$white: #F9F8F8;
$black: #000F08;
$border: .1rem solid $light-color;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
$transition: all .3s ease-in-out;
$font-weight: (
    "regular": 300,
    "medium": 600,
    "bold": 800,
);